ul {
    list-style-type: none;
}

.weather-app-wrapper{
    max-width: 500px;
    margin: 30px auto;
}

.weather-app{
    border:1px solid;
    padding: 15px;
    border-radius: 8px;
}

ul.weather-stats{
    color: #70757a;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    display:inline-block;
}

.temperature{
    display: inline;
    line-height: 60px;
    vertical-align: top;
    font-size: 48px;
}

.units{
    display: inline-block;
    line-height: 24px;
    padding-left: 6px;
    vertical-align: top;
    font-size: 16px;
    margin-top: 6px;
}

.emoji{
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin-top: unset;
    width: 60px;
}

.city{
    font-size: 16pt;
}

.day-time, .current-weather-descrip  {
    font-size:10pt;
    color: #70757a;

}

.current-weather-descrip::first-letter{
    text-transform:capitalize;
}

.open-source-link{
    font-size:10pt;
}

.units .active{
    color: rgb(33,33,33);
    cursor: default;
}

.units .active:hover{
    text-decoration: none;
    color: rgb(33,33,33);
}

.forecast{
    margin-top: 20px;
    text-align: center;
}

.forecast-day{
    font-size: 16px;
}

.forecast-temp-max{
    font-size:10px;
}

.forecast-temp-min{
    font-size:10px;
    opacity: 0.6;
}